<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">

<head th:fragment="header">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/core.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen"/>
</head>
<body>

</body>
</html>

