<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">

<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/core.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <h1>Sidebar</h1>
            <a href="#">Login</a>
        </div>
        <div class="col" layout:fragment="content">
            <h1>Welcome to the Index page</h1>
            <br>This content is replacing the content of the layout:fragment="content"<br>
            placeholder in layout.html</p>
        </div>
    </div>
</div>
</body>
</html>